body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scrollbar-width: none;
  /* For Firefox */
}

body::-webkit-scrollbar {
  width: 0px;
  /* For Chrome, Safari */
  background: transparent;
}

code {
  font-family: 'Segoe UI';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.2s ease-out;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1001;
  /* higher than overlay */
  padding: 20px;
  border-radius: 8px;
}

.react-quill {
  min-height: 150px;
}

.compact-quill .ql-toolbar {
  padding: 4px;
  border-radius: 8px 8px 0 0;
}

.compact-quill .ql-container {
  min-height: 80px;
  max-height: 120px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
}

.compact-quill .ql-editor {
  font-size: 0.85rem;
  padding: 6px;
}
